:root{
    --green: #6FA545;
    --bgreen: #1B521B;
    --vert: #012010;
    --lgreen: #C9E5AB;
    --yellow: #E3E06B;
    --white: #FFFFFF;
    --black: #050402;
    --gray: #BEBEBE;
    --red: #A80000;
    --ivory: #FFFEFB;
}
.header{
    width: 100%;
    position: fixed;
    top:0px;
    left:0px;
    background-color: var(--white);
}
.headerWrapper{
    margin: 0 auto;
    height: 80px;
    width: 1200px;
    padding: 0 20px;
}
.logo {
    width: 10%;
    height: 100%;
    margin-right: 20px;
}
.gnb {
    width: calc(55% - 20px * 3);
    margin-right: 20px;
}
.search {
    width: 20%;
    margin-right: 20px;
}
.searchInputShow{
    display: block;
    width: calc(100% - 30px);
    height: 30px;
    border: 1px solid var(--ivory);
    border-radius: 5px 0px 0px 5px;
    padding: 5px 10px;
    background-color: var(--ivory);
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}
.searchInput{
    transform-origin: 100% 50%;
    transform: translateX(10%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.searchButton{
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--ivory);
    border-radius: 0px 5px 5px 0px;
    padding: 5px;
}
.searchButton div{
    width: 20px;
    height: 20px;
}
.profile{
    width: 15%;
}
